:root{
    --cor-de-fundo: #EBECEE;
    --azul-header: #19A7CE;
    --preto: #000000;
    --azul-degrade: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);

    --fonte-principal: 'Poppins', sans-serif;
    --fonte-secundaria: 'Josefin Sans', sans-serif;
}




hr {
    margin: 0;
}

.rodapé {
    background: var(--azul-degrade);
    padding: 1em;
    font-family: var(--fonte-principal);
}

.rodapé__titulo{
    color: var(--cor-de-fundo);
}

 

.lista-rodapé {
    display: none;
}

@media screen and (min-width: 1024px) {
    .rodapé {
        display: flex;
        justify-content: space-around;
    }

    .lista-rodapé {
        display: block;
    }

    .lista-rodapé__item {
        display: flex;
        align-items: center;
        margin: 0.6em 0;
    }

    .lista-rodapé__link {
        color: var(--cor-de-fundo);
        text-decoration: none;
        margin-left: 0.6em;
    }

    .lista-rodapé__titulo {
        font-size: 14px;
        color: var(--cor-de-fundo);
    }

    .rodapé__titulo {
        font-size: 24px;
    }
}

@media screen and (min-width: 1728px) {
    .lista-rodapé {
        border-left: 1px solid var(--cor-de-fundo);
        padding-left: 1em;
    }

    .rodapé {
        padding: 3em 0;
    }
}